body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: 0;
    background-color: #615a5a; /* Change to your desired background color */
    flex-direction: column;
  }
  
  #header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  